<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Error with Name</title>
</head>
<style>
    div{
        align-content: center;
    }
    header{
        font-size: 25px;
        color: #0000FF;
        text-align: center;
    }
    h2{
        margin-top: 200px;
        padding-top: 25px;
        font-size: 30px;
        color: red;
        text-align: center;
    }
    h1{
        padding-top: 25px;
        font-size: 20px;
        color: #0000FF;
        text-align: center;
    }


</style>
<body style="background-color: #dbf3fa">
<h2>Oops!</h2>
<header>{{name}} does not appear to be in the database for either of these seasons </header>
<h1>Please enter only a player first OR last name and check that the player name and seasons were entered correctly</h1>


</body>
</html>